#ProfilePicandinfo {
  text-align: justify;
  width: 150px;
}

#navbar-container{
  margin-left: 0px;
}

#NavBar{
  position: relative;
  height: 50px;
}

#profile-but{
  margin-left: 0px;
  left:5px;
  color: black;
}

.nav-link { color: black }

#gallery-but{
  position: relative;
  margin-left: 30%;
}

.basicInfo {
  position: relative;
  width: 130px;
}

.infoLine {
  text-align: center;
  display: block;
  position: relative;
  margin-top: 20px;
}

.galleryPics {
  border: 1px solid #dad5d6;
}

.cardItem {
  display: inline;
}

.cardTitle {
  margin-top: 20px;
  size: 10px;
  color: black;
}

.cardText {
  margin-top: 20px;
  color: rgba(128, 128, 128, 0.37);
}

.headerM {
  position: relative;
  margin-left: 10%;
}

.renderItemList {
  /* position: relative; */
  margin-top: 10%;
}

#popupEdit,
#popupDel{
  position: absolute;
  z-index: 1000;
  height: 50%;
  width: 120%;
  top: 0%;
  left: -15%;
  margin-left: 0%;
}

#popupAdd {
  position: center;
  z-index: 100;
  height: 40%;
  width: 40%;
  left: 0%;
}

#del {
  text-align: center;
  position: center;
  z-index: 1;
  height: 200px;
  width: 350px;
  margin: 10px;
  top: 20%;
}

#del_but {
  margin-left: 10px;
}

#canl_bt {
  margin: 10px;
  margin-left: 10px;
}

.textArea {
  position: relative;
  width: 100%;
  border: 1px solid #dad5d6;
}

#edit {
  width: 75px;
  height: 40px;
  margin: 5px;
}

#del {
  width: 75px;
  height: 40px;
  margin: 5px;
}

#button-addPic {
  position: fixed;
  z-index: 1;
  bottom: 50px;
  right: 50px;
}

#bt-pro {
  margin: 5px;
}
