.countrySelector{
    padding: 8px;
    border-color: rgb(213, 206, 206);
    border-radius: 5%;
}

Form.Group{
    display: inline-block;
    flex-direction: row;
}

.cardContainer {
    margin: 0;
    padding: 10px;
    border-radius: 12px;
    position: 'absolute';
    left: 50%;
    background-color: rgb(217, 237, 235);
    display: grid;
    grid-template-columns: 'repeat(auto-fill, 300px)';
    grid-auto-rows: auto;
}