.countrySelector{
    padding: 8px;
    border-color: rgb(213, 206, 206);
    border-radius: 5%;
}

Form.Group{
    display: inline-block;
    flex-direction: row;
}

.cardContainer {
    margin: 0;
    padding: 10px;
    background-color: rgb(198, 198, 222);
    border-radius: 15px;
    position: 'absolute';
    left: 50%;
    display: inline-flexbox;
    grid-template-columns: auto;
    grid-auto-rows: auto;
}