.login {
    align-content: center;
}

.login-form-container {
    display: inline-block;
    position: relative;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 10px 5px #e5eff5;
    min-width: 33%;
    max-width: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.signup-form-container {
    display: block;
    position: relative;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 10px 5px #e5eff5;
    min-width: 33%;
    max-width: 60%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

label {
    padding: 3px;
}

.input-container {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-container {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    alignment: center;
}

.col-md-6 {
    float: left;
    padding-right: 10px;
}

.passwordToggle {
    cursor: pointer;
    float: right;
    font-size: smaller;
}