.page-head {
  margin-bottom: 5px;
}

.managebooking-body {
  /*margin: 50px;*/
  margin: 3%;
}

.month {
  font-size: 16px;
}

.date {
  font-size: 28px;
  /*font-weight: bold;*/
}

.cell-details {
  font-size: 20px;
}

.icons {
  padding: 5px;
}

.icons:hover {
  cursor: pointer;
}

.date-head,
.time-head {
  width: fit-content;
}

.managebooking-body table,
.managebooking-body th,
.managebooking-body td {
  text-align: center;
}

.managebooking-body table {
  width: 100%;
  table-layout: auto !important;
}

.managebooking-body th,
.managebooking-body td {
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto !important;
}

.managebooking-body tr:nth-child(even) {
  background-color: #f8f9fa;
}

.confirmation-button {
  width: fit-content;
}

.modal-body,
.modal-footer {
  text-align: left;
}

.duration-needed {
    color: orangered;
}