#profileCirclePic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#profileCard {
  margin-top: 5%;
}
#profileCard:hover {
  transform: none;
}

#profileDropdownPic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10%;
}

#profileContainer {
  margin: 50px;
}

#profileDropdown {
  padding-right: 5%;
}

#alert {
  margin-left: 7%;
  margin-top: 3%;
}

#closeButton {
  width: 2px;
  position: absolute;
  right: 3%;
}

#bookingFormTitle {
  margin-left: 4.5%;
  margin-bottom: 2%;
}

.popup {
  position: fixed;
  margin-top: 1.5%;
  margin-bottom: 10%;
  margin-left: 30%;
  margin-right: 20%;
  width: 50%;
  height: 80%;
  transition-duration: 0.2s;
  background-color: rgba(254, 254, 254, 0.988);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px #95bae35b;
  z-index: 100;
}
.popup:hover {
  transform: scale(
    1.03
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.popupSuccess {
  position: fixed;
  margin-top: 1.5%;
  margin-bottom: 10%;
  margin-left: 30%;
  margin-right: 20%;
  width: 50%;
  height: 30%;
  transition-duration: 0.2s;
  background-color: rgba(254, 254, 254, 0.988);
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 15px #95bae35b;
  z-index: 100;
}
.popupSuccess:hover {
  transform: scale(
    1.03
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #4b60775b;
}

.popupInner {
  position: relative;
  padding: 20px;
  width: 100%;
  max-width: 900px;
}

.popupForm {
  position: relative;
  max-height: 500px;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  overflow: scroll;
}

#button-16 {
  background-color: #676767;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

#button-16:hover {
  background-color: #393838;
  border-color: #2e2e2e;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: white;
  transition-duration: 0.2s;
}

#button-16:focus {
  color: #f8f9fa;
  background-color: #202124;
  outline: none;
}

#button-appointment {
  margin-top: 250px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

#button-appointment:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: #202124;
}

#button-appointment:focus {
  color: #f8f9fa;
  background-color: #202124;
  outline: none;
}

#formUsername {
  color: rgb(180, 179, 179);
}
